body {
    padding: 10px;
    font-family: 'Helvetica', sans-serif;
    background-color: #F5F5F5;
}

.username {
    text-align: right;
}

.nav a {
    color: #404040;
    font-family: 'Didot';
    font-size: 20px;
}

.nav a:hover {
    text-decoration: underline;
}

.listing {
    padding: 10px;
    margin-bottom: 5px;
    border-width: 1px;
    border-color: gainsboro;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
}