{% extends "auctions/layout.html" %}

{% block body %}
    <div class="listing">    
        <h2>{{ listing.title }}</h2>
        <p><img src="{{ listing.image }}" height="100"></p>
        <p>Top Bid: £{{ top_bid.bid_amount__max }}</p>
        <p>Listed by: {{ listing.seller }}</p>
        <p>Listed on: {{ listing.creation_date }}</p>
        <p>Category: <a href="{% url 'category' listing.category %}">{{ listing.category }}</a></p>
        <p><a href="/">back to main page</a></p>
        <form action="{% url 'bid' %}">
        	<button type="submit" value="{{ listing.id }}" name="listing">Bid</button>
        </form>
    </div>
{% endblock %}